@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: auto;
}

.navbar-toggler {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  gap: 1rem;
width: 400px;
}

.navbar-menu a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.navbar-menu.is-active {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 3rem;
  right: 1rem;
  background: white;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

@media (max-width: 768px) {
  .navbar-brand {
    justify-content: space-between;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-toggler {
    display: block;
    text-align: end;
  }

  .navbar-menu.is-active {
    display: flex;
  }

  .navbar-menu a {
    padding: 0.5rem 0;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #eee;
  }
}